body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: whitesmoke;
    color: #333;
    margin: 0;
  }

  header {
    background-color:  #034429;
    color: white;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
  }
  
  .logo{
    display: flex;
    align-items: center;    
    font-size: oblique;
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
  }

  .logo img{
    width:70px;
    height:50px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
    
    
  }  

  
  /* SECCIONES */
  section { display: none; }
  #inicio { display: block; }

  footer {
    background-color:#440503;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-top: 30px;
  }

  .contenido {
    background: #FFFAF0;
    padding: 20px;
    margin: 20px;
    border-radius: 15px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    max-width: 900px;
    margin: auto;
  }

